* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
    color: brown;
}

a {
    text-decoration: none;
    color:brown
}

li {
    list-style: none;
    display: flex;
}